[Unit]
Description=Preinstall Flatpaks declared in /usr/share/flatpak/preinstall.d
Documentation=man:flatpak-preinstall(1)
After=network-online.target flathub-remote-add.service
Wants=network-online.target
Requires=flathub-remote-add.service
ConditionPathExists=/usr/bin/flatpak
StartLimitIntervalSec=600
StartLimitBurst=3

[Service]
Type=oneshot
ExecStart=/usr/bin/flatpak preinstall -y --noninteractive
RemainAfterExit=yes
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
